<a href="https://colab.research.google.com/github/iamkishore0/Python/blob/main/part4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List
list consists of all the data types such as integer, string, float and boolean, List is defined in the format of square brackets [ ]

In [14]:
mylist = [22, 67.9, True, "India"]
type(mylist)

list

In [15]:
print(mylist)

[22, 67.9, True, 'India']

In [16]:
#Slicing Operations with list
print(mylist[0])
print(mylist[2])
print(mylist[::-1])
print(len(mylist))

22
True
['India', True, 67.9, 22]
4

In [17]:
#Append function 
mylist.append('World')
print(mylist)

[22, 67.9, True, 'India', 'World']

In [18]:
#Pop function.
print(mylist) 
mylist.pop()
print(mylist)
mylist.pop(1)
print(mylist)

[22, 67.9, True, 'India', 'World']
[22, 67.9, True, 'India']
[22, True, 'India']

In [19]:
#Remove function
print(mylist)
mylist.remove("India")
print(mylist)

[22, True, 'India']
[22, True]

In [20]:
#Insert function
print(mylist)
mylist.insert(1, "India")
print(mylist)

[22, True]
[22, 'India', True]

In [25]:
#Reverse function
mylist.reverse()
print(mylist)

[True, 'India', 22]

In [27]:
#Sorting
int_list = [5, 66, 77, 2, 9, 0, 24, 346, 12, 90, 9] 
int_list.sort()
print(int_list)

[0, 2, 5, 9, 9, 12, 24, 66, 77, 90, 346]

In [28]:
#Looping through lists
my_list = [1, 2, 5.5, 'Hello']
for i in my_list:
  print(i)

1
2
5.5
Hello